# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 24.11.3
asttokens=3.0.0=pyhd8ed1ab_1
attrs=25.3.0=pypi_0
beautifulsoup4=4.13.3=pypi_0
black=25.1.0=pypi_0
blinker=1.9.0=pypi_0
bs4=0.0.2=pypi_0
bzip2=1.0.8=h2466b09_7
ca-certificates=2025.1.31=h56e8100_0
certifi=2025.1.31=pypi_0
cffi=1.17.1=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.4.1=pypi_0
click=8.1.8=pypi_0
colorama=0.4.6=pyhd8ed1ab_1
comm=0.2.2=pyhd8ed1ab_1
community=1.0.0b1=pypi_0
contourpy=1.3.1=pypi_0
cpython=3.13.2=py313hd8ed1ab_101
cycler=0.12.1=pypi_0
debugpy=1.8.13=py313h5813708_0
decorator=5.2.1=pyhd8ed1ab_0
defusedxml=0.7.1=pypi_0
et-xmlfile=2.0.0=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_1
executing=2.1.0=pyhd8ed1ab_1
fastjsonschema=2.21.1=pypi_0
filelock=3.18.0=pypi_0
flask=3.1.0=pypi_0
fonttools=4.56.0=pypi_0
fsspec=2025.3.0=pypi_0
h11=0.14.0=pypi_0
huggingface-hub=0.29.3=pypi_0
idna=3.10=pypi_0
igraph=0.11.8=pypi_0
importlib-metadata=8.6.1=pyha770c72_0
intel-openmp=2024.2.1=h57928b3_1083
ipykernel=6.29.5=pyh4bbf305_0
ipython=9.0.2=pyhca29cf9_0
ipython_pygments_lexers=1.1.1=pyhd8ed1ab_0
ipywidgets=8.1.5=pypi_0
itsdangerous=2.2.0=pypi_0
jedi=0.19.2=pyhd8ed1ab_1
jieba=0.42.1=pypi_0
jinja2=3.1.6=pypi_0
joblib=1.4.2=pypi_0
jsonpickle=4.0.2=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_1
jupyter_core=5.7.2=pyh5737063_1
jupyterlab-widgets=3.0.13=pypi_0
kiwisolver=1.4.8=pypi_0
krb5=1.21.3=hdf4eb48_0
leidenalg=0.10.2=pypi_0
libblas=3.9.0=31_h641d27c_mkl
libcblas=3.9.0=31_h5e41251_mkl
libexpat=2.6.4=he0c23c2_0
libffi=3.4.6=h537db12_0
libhwloc=2.11.2=default_ha69328c_1001
libiconv=1.18=h135ad9c_1
liblapack=3.9.0=31_h1aa476e_mkl
liblzma=5.6.4=h2466b09_0
libmpdec=4.0.0=h2466b09_0
libsodium=1.0.20=hc70643c_0
libsqlite=3.49.1=h67fdade_2
libwinpthread=12.0.0.r4.gg4f2fc60ca=h57928b3_9
libxml2=2.13.6=he286e8c_0
libzlib=1.3.1=h2466b09_2
lxml=5.3.1=pypi_0
markupsafe=3.0.2=pypi_0
matplotlib=3.10.1=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_1
mkl=2024.2.2=h66d3029_15
mpmath=1.3.0=pypi_0
mypy-extensions=1.0.0=pypi_0
narwhals=1.33.0=pypi_0
nbformat=5.10.4=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_1
networks=0.3.7=pypi_0
networkx=3.4.2=pypi_0
nltk=3.9.1=pypi_0
numpy=2.2.4=py313hefb8edb_0
odfpy=1.4.1=pypi_0
openpyxl=3.1.5=pypi_0
openssl=3.4.1=ha4e3fda_0
outcome=1.3.0.post0=pypi_0
packaging=24.2=pyhd8ed1ab_2
pandas=2.2.3=pypi_0
parsimonious=0.10.0=pypi_0
parso=0.8.4=pyhd8ed1ab_1
pathspec=0.12.1=pypi_0
patsy=1.0.1=pypi_0
pickleshare=0.7.5=pyhd8ed1ab_1004
pillow=11.1.0=pypi_0
pip=25.0.1=pyh145f28c_0
platformdirs=4.3.6=pyhd8ed1ab_1
plotly=6.0.1=pypi_0
portion=2.6.0=pypi_0
progressbar2=4.5.0=pypi_0
prompt-toolkit=3.0.50=pyha770c72_0
psutil=7.0.0=py313ha7868ed_0
pure_eval=0.2.3=pyhd8ed1ab_1
pyahocorasick=2.1.0=pypi_0
pycparser=2.22=pypi_0
pygments=2.19.1=pyhd8ed1ab_0
pymannkendall=1.4.3=pypi_0
pyparsing=3.2.1=pypi_0
pysd=3.14.3=pypi_0
pysocks=1.7.1=pypi_0
python=3.13.2=h261c0b1_101_cp313
python-calamine=0.3.1=pypi_0
python-dateutil=2.9.0.post0=pyhff2d567_1
python-louvain=0.16=pypi_0
python-utils=3.9.1=pypi_0
python_abi=3.13=5_cp313
pytz=2025.1=pypi_0
pyvis=0.3.2=pypi_0
pywin32=307=py313h5813708_3
pyxlsb=1.0.10=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.3.0=py313h2100fd5_0
referencing=0.36.2=pypi_0
regex=2024.11.6=pypi_0
requests=2.32.3=pypi_0
rpds-py=0.24.0=pypi_0
safetensors=0.5.3=pypi_0
scikit-learn=1.6.1=pypi_0
scipy=1.15.2=py313h2eca4b9_0
seaborn=0.13.2=pypi_0
selenium=4.29.0=pypi_0
sentence-transformers=3.4.1=pypi_0
setuptools=76.1.0=pypi_0
six=1.17.0=pyhd8ed1ab_0
sniffio=1.3.1=pypi_0
snownlp=0.12.3=pypi_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.6=pypi_0
stack_data=0.6.3=pyhd8ed1ab_1
statsmodels=0.14.4=pypi_0
sympy=1.13.1=pypi_0
tbb=2021.13.0=h62715c5_1
textblob=0.19.0=pypi_0
texttable=1.7.0=pypi_0
threadpoolctl=3.6.0=pypi_0
tk=8.6.13=h5226925_1
tokenizers=0.21.1=pypi_0
torch=2.6.0=pypi_0
tornado=6.4.2=py313ha7868ed_0
tqdm=4.67.1=pypi_0
traitlets=5.14.3=pyhd8ed1ab_1
transformers=4.49.0=pypi_0
trio=0.29.0=pypi_0
trio-websocket=0.12.2=pypi_0
typing_extensions=4.12.2=pyha770c72_1
tzdata=2025.1=pypi_0
ucrt=10.0.22621.0=h57928b3_1
urllib3=2.3.0=pypi_0
vc=14.3=hbf610ac_24
vc14_runtime=14.42.34438=hfd919c2_24
wcwidth=0.2.13=pyhd8ed1ab_1
websocket-client=1.8.0=pypi_0
werkzeug=3.1.3=pypi_0
widgetsnbextension=4.0.13=pypi_0
wordcloud=1.9.4=pypi_0
wsproto=1.2.0=pypi_0
xarray=2025.3.0=pypi_0
xlrd=2.0.1=pypi_0
xlsxwriter=3.2.2=pypi_0
zeromq=4.3.5=ha9f60a1_7
zipp=3.21.0=pyhd8ed1ab_1
